.control-panel {
    display: flex;
    position: relative;
    min-width: 100px;
    padding: 5px;
    color: white;
    justify-content: space-around;
    flex-wrap: wrap;
}

.bet-board {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bet-board>div>span {
    cursor: pointer;
    display: inline-block;
    border: 1px solid #ffee00;
    border-radius: 0.2em;
    margin: 0.5em;
    padding: 0.5em;
    font-family: 'Courier New', Courier, monospace;
}

.bet-board>div>span:active {
    background: #ffee00;
    color: black;
}

h3 {
    color: #ffee00;
    margin-bottom: 1em;
    width: 100%;
}

.control-board {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.control-board>div {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
}

.control-board>div>span {
    display: inline-block;
    font-size: 2em;
    border: 1px solid #ffee00;
    border-radius: 10%;
    margin: 0.2em;
    font-family: 'Courier New', Courier, monospace;
    width: 1em;
}

.control-board .pressed {
    background: white;
    color: black;
}

.log-panel {
    color: white;
    height: 5em;
    text-align: left;
    padding: 5px;
}

.log-panel .user {
    color: #ffee00;
}

.noselect {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}